<dom-module id="example-tag">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

  </template>
  <script>
    Polymer({
      is: 'example-tag'
    });
  </script>
</dom-module>
